*{margin: 0;
    padding: 0;
    }

.corpo-do-site{
    background-image: linear-gradient(#05253a,#1070B5);
}

.cabeçalho{
    background-color: #05253a;
   display: flex;
   justify-content: center;
}

.cabeçalho-imagem{
width: 20%; 
}

.foto-da-escola-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%
}
.escola{
    
    padding: 24px 0;
    color: rgb(255, 255, 255);
}


.titulo-Escola{
    display: flex;
    justify-content: center;
    padding: 24px 0;
}

.texto-Escola{
    display: flex;
    justify-content: center;
    width: 100%;
}

.foto-da-escola{
    padding: 54px 0;
    display: flex;
    justify-content: center;
}


.icone-redes-sociais{

    width: 5%;
}

.estudante-div{
    text-align: center;

}

.estudantes-titulo{
    padding: 54px 0;
    text-align: center;
    color: white;
}

.todos-estudantes{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    color: white;
}

.estudante-foto{
    width: 70%;
}

.rodape{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.foto-rodape{
    width: 15%;
}

